@use '../abstracts/_variables' as *;
@use '../abstracts/_mixins' as *;

.card {
    position: relative;

    &:focus-within,
    &:hover {
        a {
            color: $primary-color;
        }
    }

    a {
        text-decoration: none;
        
        &::after {
            content: "";
            position: absolute;
            top: 0;
            right: 0;
            bottom: 0;
            left: 0;
        }
    }

    img {
        width: 100%;
    }

    h2 {
        margin: 1rem 0 2rem;
        font-size: $base-font-size;
        text-align: center;
    }
}
