@use '../abstracts/_variables' as *;
@use '../abstracts/_mixins' as *;

.entry-header {
    padding: $space-xxl 0;
    margin-bottom: $space-md;
    background-color: $primary-color;

    .entry-header-title {
        margin: 1rem 0;
        color: $light-color;
    }
}

.breadcrumbs {
    margin-bottom: $space-md;
    font-size: $small-font-size;

    a {
        color: $accent-color;
        text-decoration: none;

        &:hover,
        &:focus {
            text-decoration: underline;
        }
    }
}
