@use '../abstracts/_variables' as *;
@use '../abstracts/_mixins' as *;

/* ---------------------------------------------------------------------------------------------------
    Navigation modal
--------------------------------------------------------------------------------------------------- */

.modal-nav {
    @include mq($navbar-expand) {
        display: none;
    }

    .modal-nav-menu {
        padding: 0;
        margin: 0;
    }

    position: absolute;
    right: 0;
    width: 100%;
    height: 100vh;
    padding: $space-md $space-md $space-xl;
    background: $light-color;
    transform: translateX(100%);
    transition: transform 0.5s ease;

    &.is-open {
        transform: translateX(0);
    }

    @include mq(sm) {
        width: 50%;
    }

    @include mq(md) {
        width: 25%;
    }

    .nav-item {
        position: relative;
        display: flex;
        flex-wrap: wrap;
        color: $dark-color;
        margin: 0;
    }

    .nav-item .nav-item {
        position: relative;
        display: flex;
        flex-wrap: wrap;
        padding-left: $space-md;
    }

    .nav-item-link {
        flex: 1;
        display: block;
        width: 100%;
        padding: $space-md $space-md;
        color: inherit;
        outline-offset: -2px;
        text-decoration: none;
    }

    .nav-item:hover > .nav-item-link {
        color: $primary-color;
    }

    .nav-item.is-active > .nav-item-link {
        color: $body-text-color-secondary;
    }

    .submenu-btn {
        border: none;
        background-color: transparent;
        padding: 0 $space-lg;
        line-height: 0;
        outline-offset: -2px;

        i {
            transform: rotate(45deg);
            transition: transform 0.25s ease;
        }

        &.is-open {
            transform: rotate(-180deg);
        }
    }

    .submenu {
        display: none;
        flex-basis: 100%;
        padding-left: 0;
        margin-bottom: 0;
        z-index: 999;
        overflow: hidden;
        transition: height 0.25s ease;
    }

    .submenu.is-open {
        display: block;
    }
}
