@use '../abstracts/_variables' as *;
@use '../abstracts/_mixins' as *;

/* ---------------------------------------------------------------------------------------------------
    Primary navigation
--------------------------------------------------------------------------------------------------- */
.primary-nav {
    display: none;
    @include mq($navbar-expand) {
        display: flex;
    }
}

.primary-nav-menu {
    padding: 0;
    margin: 0;
    display: flex;
    align-items: center;
    font-size: $base-font-size;
    font-weight: 700;
    
    .nav-item {
        position: relative;
        display: flex;
        margin: 0 0 0 $space-sm;
    }

    .nav-item .nav-item {
        min-width: 200px;
        margin: 0;
    }

    .nav-item-link {
        display: block;
        width: 100%;
        padding: $space-md $space-md;
        color: $dark-color;
        text-decoration: none;
    }

    .nav-item-link:hover,
    .nav-item-link:focus {
        color: $primary-color;
    }

    .nav-item .nav-item .nav-item-link {
        padding: $space-sm $space-md;
    }

    .nav-item.is-active > .nav-item-link {
        color: $body-text-color-secondary;
    }

    .nav-item.has-submenu > .nav-item-link {
        padding-right: 0;
    }

    .nav-item.has-submenu:hover > .submenu {
        transform: translateY(0px);
        visibility: visible;
        opacity: 1;
    }

    .submenu-btn {
        border: none;
        padding-right: $space-md;
        padding-left: 10px;
        background-color: transparent;
        line-height: 0;

        i {
            transform: rotate(45deg);
        }
    }

    .submenu .submenu-btn {
        i {
            transform: rotate(-45deg);
        }
    }

    .submenu {
        position: absolute;
        top: 100%;
        display: block;
        visibility: hidden;
        padding: 0;
        padding-bottom: $space-xs;
        background-color: $light-color;
        transform: translateY(-15px);
        opacity: 0;
        transition: opacity 0.25s ease, transform 0.25s ease, visibility 0.25s ease;
        z-index: 999;
        margin: 0;
        &.is-open {
            visibility: visible;
            opacity: 1;
            transform: translateY(0);
        }
    }

    .submenu .submenu {
        left: 100%;
        top: 0;
        position: absolute;
    }
}
