@use '../abstracts/variables'as *;
@use '../abstracts/mixins'as *;

.brand {
    display: block;
    margin: 0 auto 0 0;
    padding: $space-sm $space-sm $space-sm 0;
    font-weight: 700;
    line-height: 1;

    .custom-logo {
        max-width: 80px;

        @include mq(md) {
            max-width: 130px;
        }
    }
}
