@use '../abstracts/variables'as *;

#breadcrumbs {
    margin-bottom: $space-md;
    font-size: $font-size-sm;
    font-weight: 700;

    a {
        color: $color-primary;
        text-decoration: none;

        &:hover {
            color: $color-secondary
        }
    }
}
