@use '../abstracts/variables'as *;
@use '../abstracts/mixins'as *;

.card {
    position: relative;

    &:focus-within,
    &:hover {
    }

    a {
        text-decoration: none;
        
        &::after {
            content: "";
            position: absolute;
            top: 0;
            right: 0;
            bottom: 0;
            left: 0;
        }
    }

    img {
        width: 100%;
    }

    h2 {
        font-size: $font-size-base;
        text-align: center;
    }
}
