@use '../abstracts/variables'as *;
@use '../abstracts/mixins'as *;

.entry-header {
    padding: $space-xl 0 $space-lg;
    margin-bottom: $space-md;
    background-color: $color-secondary;

    &__title {
        color: $heading-color;
    }

    &__lead {
        color: $color-light;
    }
}
