@use '../abstracts/variables'as *;
@use '../abstracts/mixins'as *;

.hero {
    background-color: $color-primary;
    color: $color-light;
    margin-bottom: $space-lg;
    &__inner {
        display: grid;
        height: 50vh;
        padding: $space-xl;
        text-align: center;
    }
    &__title {
        color: inherit;
    }
}
