@use '../abstracts/variables'as *;
@use '../abstracts/mixins'as *;

/* ---------------------------------------------------------------------------------------------------
    Main navigation
--------------------------------------------------------------------------------------------------- */
.navigation--desktop {
    align-items: center;

    .nav__menu {
        display: flex;
        align-items: center;
    }

    .nav__item {
        position: relative;
        display: flex;
        margin-left: $space-sm;
    }

    .nav__item .nav__item {
        min-width: 200px;
        margin: 0;
    }

    .nav__item .nav__item--link {
        display: block;
        width: 100%;
        padding: $space-md $space-md;
    }

    .nav__item:hover > .nav__item--link,
    .nav__item:hover > .submenu-btn {
        color: $color-primary !important;
    }

    .nav__item .nav__item .nav__item--link {
        padding: $space-sm $space-md;
    }

    .nav__item.is-active > .nav__item--link {
        color: $text-color-secondary;
    }

    .nav__item.has-submenu > .nav__item--link {
        padding-right: 0;
    }

    .nav__item.has-submenu:hover > .submenu {
        transform: translateY(0px);
        visibility: visible;
        opacity: 1;
    }

    .submenu-btn {
        border: none;
        padding-right: $space-md;
        padding-left: 10px;
        background-color: transparent;
        line-height: 0;

        i {
            transform: rotate(45deg);
        }
    }

    .submenu .submenu-btn {
        i {
            transform: rotate(-45deg);
        }
    }

    .submenu {
        position: absolute;
        top: 100%;
        display: block;
        visibility: hidden;
        padding-bottom: $space-xs;
        background-color: $color-light;
        transform: translateY(-15px);
        opacity: 0;
        transition: opacity 0.25s ease, transform 0.25s ease, visibility 0.25s ease;
        z-index: 999;
        &.is-open {
            visibility: visible;
            opacity: 1;
            transform: translateY(0);
        }
    }

    .submenu .submenu {
        left: 100%;
        top: 0;
        position: absolute;
    }
}
