@use '../abstracts/variables'as *;
@use '../abstracts/mixins'as *;

/* ---------------------------------------------------------------------------------------------------
    Navigation modal
--------------------------------------------------------------------------------------------------- */
.navigation--mobile {
    position: absolute;
    right: 0;
    width: 100%;
    height: 100vh;
    padding: $space-md $space-md $space-xl;
    background: $color-light;
    transform: translateX(100%);
    transition: transform 0.5s ease;

    &.is-open {
        transform: translateX(0);
    }

    @include mq(sm) {
        width: 50%;
    }

    @include mq(md) {
        width: 25%;
    }

    .nav__item {
        position: relative;
        display: flex;
        flex-wrap: wrap;
        color: $color-dark;
    }

    .nav__item .nav__item {
        position: relative;
        display: flex;
        flex-wrap: wrap;
        padding-left: $space-md;
    }

    .nav__item .nav__item--link {
        flex: 1;
        display: block;
        width: 100%;
        padding: $space-md $space-md;
        color: inherit;
        outline-offset: -2px;
    }

    .nav__item:hover > .nav__item--link {
        color: $color-primary !important;
    }

    .nav__item.is-active > .nav__item--link {
        color: $text-color-secondary;
    }

    .submenu-btn {
        border: none;
        background-color: transparent;
        padding: 0 $space-lg;
        line-height: 0;
        outline-offset: -2px;

        i {
            transform: rotate(45deg);
            transition: transform 0.25s ease;
        }

        &.is-open {
            transform: rotate(-180deg);
        }
    }

    .submenu {
        display: none;
        flex-basis: 100%;
        padding-left: 0;
        margin-bottom: 0;
        z-index: 999;
        overflow: hidden;
        transition: height 0.25s ease;
    }

    .submenu.is-open {
        display: block;
    }
}
