@use '../abstracts/variables'as *;
@use '../abstracts/mixins'as *;

/* ---------------------------------------------------------------------------------------------------
    Main navigation
--------------------------------------------------------------------------------------------------- */
.primary-navigation {

    // When to display
    display: none;
    @include mq($navbar-expand) {
        display: flex;
    }

    .nav {
        display: flex;
        align-items: center;
    }

    .nav-item {
        position: relative;
        display: flex;
        margin-left: $space-sm;
    }

    .nav-item .nav-item {
        min-width: 200px;
        margin: 0;
    }

    .nav-item .nav-item-link {
        display: block;
        width: 100%;
        padding: $space-md $space-md;
    }

    .nav-item:hover > .nav-item-link,
    .nav-item:hover > .submenu-btn {
        color: $color-primary !important;
    }

    .nav-item .nav-item .nav-item-link {
        padding: $space-sm $space-md;
    }

    .nav-item.is-active > .nav-item-link {
        color: $text-color-secondary;
    }

    .nav-item.has-submenu > .nav-item-link {
        padding-right: 0;
    }

    .nav-item.has-submenu:hover > .submenu {
        transform: translateY(0px);
        visibility: visible;
        opacity: 1;
    }

    .submenu-btn {
        border: none;
        padding-right: $space-md;
        padding-left: 10px;
        background-color: transparent;
        line-height: 0;

        i {
            transform: rotate(45deg);
        }
    }

    .submenu .submenu-btn {
        i {
            transform: rotate(-45deg);
        }
    }

    .submenu {
        position: absolute;
        top: 100%;
        display: block;
        visibility: hidden;
        padding-bottom: $space-xs;
        background-color: $color-light;
        transform: translateY(-15px);
        opacity: 0;
        transition: opacity 0.25s ease, transform 0.25s ease, visibility 0.25s ease;
        z-index: 999;
        &.is-open {
            visibility: visible;
            opacity: 1;
            transform: translateY(0);
        }
    }

    .submenu .submenu {
        left: 100%;
        top: 0;
        position: absolute;
    }
}
