.page-header {
    padding: 10rem 0 $spacer-2;
    background: $primary;
    background: radial-gradient(circle, $primary 0%, $secondary 100%);
    margin-bottom: $spacer;

    // Title
    &__title {
        color: $light;
    }

    &__lead {
        color: $light;
    }
}
