@use '../abstracts/variables'as *;
@use '../abstracts/mixins'as *;

.entry-header {
    padding: 10rem 0 $space-lg;
    // Title
    &__title {
        color: $heading-color;
    }

    &__lead {
        color: $color-light;
    }
}
