@use '../abstracts/variables'as *;
@use '../abstracts/mixins'as *;

.page-header {
    padding: 10rem 0 $space-lg;

    margin-bottom: $space-lg;

    // Title
    &__title {
        color: $heading-color;
    }

    &__lead {
        color: $color-light;
    }
}
