@use '../abstracts/variables'as *;
@use '../abstracts/mixins'as *;

.modal-search {
    position: absolute;
    top: 100%;
    right: 0;
    padding: $space-md;
    width: 100%;
    transform: scaleY(0);
    transform-origin: top;
    transition: transform .4s ease;
    background: $color-light;
    overflow: hidden;

    .modal-search-input {
        width: 100%;
        padding: $space-sm;
        opacity: 0;
        transition: opacity .25s ease;
    }

    &.is-open {
        transform: scaleY(1);

        .modal-search-input {
            transition-delay: .4s;
            opacity: 1;
        }

    }


}
