.site-header {
    top: 0;
    width: 100%;
    font-size: $font-size-sm;
    background-color: $light;
    color: $dark;
    transition: height .4s ease;
    z-index: 999;

    a,
    li,
    button {
        pointer-events: all;
        color: inherit;
    }

    &.fixed {
        position: fixed;
    }

    // Wrapper
    &__wrapper {
        position: relative;
        display: flex;
        align-items: center;
    }

    // Brand
    &__brand {
        display: block;
        margin: 0 auto 0 0;
        padding: $spacer-half $spacer-half $spacer-half 0;
        font-size: $font-size-lg;
        font-weight: 700;
        line-height: 1;

        img.custom-logo {
            max-width: 80px;
            transition: width .4s ease;

            @include respond-above(md) {
                max-width: 130px;
            }
        }
    }

    // Controls
    &__controls {
        display: flex;
        justify-content: center;
        align-items: center;

        .search__toggle { 
            margin-top: 2px;
            font-size: 18px;
            color: $dark;
            background-color: transparent;
            @include respond-above($navbar-expand) {
                margin-top: 0;
            }
           
            &:hover,
            &:focus {
            
                background-color: transparent;
            }
        }

        .navigation__toggle {
            padding-right: 0;
            line-height: 0;
            background-color: transparent;
            
            @include respond-above($navbar-expand) {
                display: none;
            }
            &:hover,
            &:focus {
                background-color: transparent;
            }
            .hamburger-box {
                display: inline-table;
                .hamburger-inner::before {
                   //width: 20px;
                }
            }
        }
    }

    // Search
    &__search {

        display: none;
        position: absolute;
        top: 100%;
        bottom: 0;
        width: 100%;
        height: 150px;
        background-color: rgba(255, 255, 255, 0.863);

        &.toggled {
            display: block;
        }

        .search__form {}
    }

    // Navigation
    .navigation__menu {
        position: absolute;
        top: 100%;
        right: 0;
        width: 100%;
        display: none;
        flex-basis: 100%;
        flex-grow: 1;
        flex-direction: column;
        padding: $spacer;
        margin-bottom: 0;
        background: $nav-bg;
        overflow-y: scroll;
        font-weight: 500;
    
        @include respond-above(sm) {
            width: 50%;
        }
    
        @include respond-above($navbar-expand) {
            width: 100%;
        }
    
        &.is-open {
            display: block;
            height: 100vh;
            padding-bottom: $spacer-4;
            @include respond-above($navbar-expand) {
                height: auto;
            }
        }
    
        @include respond-above($navbar-expand) {
            position: static;
            display: flex;
            flex-flow: row wrap;
            flex-basis: auto;
            flex-grow: 0;
            padding: 0 $spacer 0 0;
            background-color: transparent;
            overflow-y: unset;
        }
    
        // Navigation Item
        .nav__item {
            position: relative;
            display: flex;
            flex-wrap: wrap;
    
            @include respond-above($navbar-expand) {
                display: block;
                margin-left: $nav-item-spacing;
            }
    
            // Navigation item with dropdown menu
            &.has-dropdown {
                @include respond-above($navbar-expand) {
                    > .nav__item--link::after {
                        content: ' ▾';
                    }
                    .has-dropdown {
                        > .nav__item--link::after {
                            content: ' ▸';
                        }
                    }
                }
            }
    
            // Epand dropdown on mobile button
            .dropdown-menu__btn {
                padding: $spacer-half $spacer-2;
                width: $hamburger-layer-width;
                border: none;
                background: transparent;
    
                &.is-open i.dropdown-icon {
                    transform: rotate(-135deg);
                }
    
                i.dropdown-icon {
                    border: solid $nav-link-color;
                    border-width: 0 $hamburger-layer-height $hamburger-layer-height 0;
                    border-radius: 2px;
                    padding: $hamburger-layer-height;
                    display: inline-block;
                    transform: rotate(45deg);
                    transition: transform .25s ease;
                }
    
                @include respond-above($navbar-expand) {
                    display: none;
                    visibility: hidden;
                }
            }
    
            // Navigation dropdown menu 
            .dropdown-menu {
                display: none;
                flex-basis: 100%;
                padding-left: 0;
                margin-bottom: 0;
                background: $nav-dropdown-bg;
                z-index: 999;
                
                &.is-open {
                    display: block;
                }
    
                @include respond-above($navbar-expand) {
                    position: absolute;
                    display: block;
                    background-color: $nav-dropdown-bg-desktop;
                    margin-top: 0;
                    // Animation init state
                    visibility: hidden;
                    transition: opacity .25s ease, transform .25s ease, visibility .25s ease;
                    transform: translateY(-15px);
                    opacity: 0;
    
                    .dropdown-menu {
                        left: 100%;
                        top: 0;
                        position: absolute;
                    }
                }
    
                // Item in dropdown menu
                .nav__item--dropdown {
                    position: relative;
                    display: flex;
                    flex-wrap: wrap;
                    padding-left: $spacer;
    
                    @include respond-above($navbar-expand) {
                        display: block;
                        min-width: 200px;
                        padding-left: 0;
                    }
                    .nav__item--link {
                        padding: $nav-dropdown-link-padding;
                    }
                }
            }
    
            // Navigation item with dropdown
            &.has-dropdown:hover>.dropdown-menu,
            &.has-dropdown:focus-within>.dropdown-menu,
            .dropdown-menu .nav__item--dropdown:hover>.dropdown-menu,
            .dropdown-menu .nav__item--dropdown:focus-within>.dropdown-menu
            {
                @include respond-above($navbar-expand) {
                    // Animation hover state
                    visibility: visible;
                    opacity: 1;
                    transform: translateY(0px);
                }
            }
    
            &.active > a.nav__item--link, .nav__item--dropdown.active > a.nav__item--link {
                color: $nav-link-active-color;
            }
    
            // Navigation Link
            .nav__item--link {
                display: block;
                flex: 1;
                width: 100%;
                padding: $nav-link-padding;
                color: $nav-link-color;
    
                &:hover {
                    color: $nav-link-hover-color !important;
                }
            }
        }
    }
    
}