@use '../abstracts/variables'as *;
@use '../abstracts/mixins'as *;
@use '../layouts/grid'as *;
@use '../components/buttons'as *;

.block-content {

    &>* {
        @extend .container;
    }

    &>[class^="wp-block-"] {
        margin-bottom: $space-lg;
    }

    // Alignment
    .alignwide,
    .wp-block[data-align="wide"] {
        @extend .container-wide;
    }

    .alignfull, [class^="wp-block-"][data-align="full"] {
        @extend .container-full;
    }

    // Columns block
    .wp-block-columns {
        margin-bottom: 0;

        .wp-block-column {
            margin-bottom: $space-sm;

            &:last-of-type {
                margin-bottom: $space-md;
            }
        }

        p {
            margin-bottom: 0;
        }
    }

    // Cover block
    .wp-block-cover {
        .wp-block-cover__inner-container {
            @extend .container-wide;
        }
    }

    // Button block
    .wp-block-button {
        &.is-style-outline {
            .wp-block-button__link {
                @extend .btn;
                @extend .btn-outline;

                @each $name,
                $color in $theme-colors {

                    &.has-#{$name}-color,
                    &.has-#{$name}-color {
                        color: $color;
                        border-color: $color;
                    }

                    &.has-#{$name}-color:hover,
                    &.has-#{$name}-color:focus {
                        color: darken($color, 8%);
                        border-color: darken($color, 8%);
                    }

                    &.has-#{$name}-background-color,
                    &.has-#{$name}-background-color {
                        background-color: $color;
                    }

                    &.has-#{$name}-background-color:hover,
                    &.has-#{$name}-background-color:focus {
                        background-color: darken($color, 8%);
                    }
                }

                &:not(.has-background) {
                    background-color: transparent;

                    &:hover,
                    &:focus {
                        background-color: transparent;
                    }
                }

                &:not(.has-text-color) {
                    color: $body-color;

                    &:hover,
                    &:focus {
                        color: darken($color-primary, 8%);
                    }
                }
            }
        }

        .wp-block-button__link {
            @extend .btn;

            @each $name,
            $color in $theme-colors {

                &.has-#{$name}-color:hover,
                &.has-#{$name}-color:focus {
                    color: $color;
                }

                &.has-#{$name}-background-color:hover,
                &.has-#{$name}-background-color:focus {
                    background-color: darken($color, 8%);
                }
            }

            &:not(.has-background) {
                $default: nth(nth($theme-colors, 1), 2); // first color in $colors array
                background-color: $default;

                &:hover,
                &:focus {
                    background-color: darken($default, 10%);
                }
            }

            &:not(.has-text-color) {
                color: white;

                &:hover {
                    color: white;
                }
            }
        }
    }

    // Image block
    .wp-block-image {
        img {
            padding: 0;
        }
    }

    // List blocks
    ul:not(.blocks-gallery-grid), ol {
        margin-bottom: $space-md;

        ul, ol {
            margin-bottom: 0;
            padding-left: $space-sm;
        }
    }

    // Paragraph block
    p.has-background {
        padding-right: $grid-margin;
        padding-left: $grid-margin;
    }

    // Preformatted block 
    .wp-block-preformatted,
    .wp-block-verse {
        white-space: pre-wrap
    }

    // Pullquote block
    .wp-block-pullquote {
        cite {
            color: $body-color-secondary;
        }
    }

    // Seperator block
    .wp-block-separator {
        max-width: 200px !important;
        margin-top: $space-lg;
        margin-bottom: $space-lg;
    }

    // Social links
    .wp-social-link a {
        color: $color-light;

        &:hover {
            color: $color-light;
        }
    }

    // Spacer block
    .wp-block-spacer {
        margin-bottom: 0;
    }

    // Video block
    .wp-block-video video {
        width: 100%;
    }

}

// Color classes
@each $name,
$color in $theme-colors {

    .has-#{$name}-color {
        color: $color;
    }

    .has-#{$name}-background-color {
        background-color: $color;
    }
}

// Font-size classes
.has-small-font-size {
    font-size: $font-size-sm;
}

.has-normal-font-size {
    font-size: $font-size-base;
}

.has-medium-font-size {
    @include font-size($font-sizes-h3);
}

.has-large-font-size {
    @include font-size($font-sizes-h2);
}
