@use '../abstracts/variables'as *;

button,
.btn {
    display: inline-block;
    border-style: none;
    border-radius: $border-radius-sm;
    outline: none;
    padding: $space-sm $space-md;
    transition: all .25s ease;
    font-size: $font-size-base;
    text-decoration: none;
    cursor: pointer;
}

.btn-clean {
    border-radius: 0;
    border: none;
    outline: none;
    box-shadow: none;
    padding: 0;
    color: $text-color;
    background-color: transparent;
}

.btn-outline {
    border-style: solid;
    border-width: 2px;
    border-color: $text-color;
    background-color: transparent;
    color: $text-color;

    &:hover,
    &:focus {
        color: $color-primary;
        border-color: $color-primary;
    }
}

@each $name,
$color in $theme-colors {
    .btn-#{$name} {
        background-color: $color;
        color: $color-light;

        &:hover,
        &:focus {
            background-color: darken($color, 8%);
        }
    }
}
