.stuck {
    position: fixed;
    overflow-y: scroll;
}

.right-25 {
    padding-left: 0;

    @include respond-above(md) {
        margin-left: 75%;
        padding-left: 1rem;
    }
}

.right-50 {
    padding-left: 0;

    @include respond-above(md) {
        margin-left: 50%;
        padding-left: 1rem;

    }
}

.right-75 {
    padding-left: 0;

    @include respond-above(md) {
        margin-left: 25%;
        padding-left: 1rem;
    }
}

.left-25 {
    padding-right: 0;
    @include respond-above(md) {
        margin-right: 75%;
        padding-right: 1rem;
    }
}

.left-50 {
    padding-right: 0;

    @include respond-above(md) {
        margin-right: 50%;
        padding-right: 1rem;
    }
}

.left-75 {
    padding-right: 0;

    @include respond-above(md) {
        margin-right: 25%;
        padding-right: 1rem;
    }
}
