@use '../abstracts/_variables' as *;
@use '../abstracts/_mixins' as *;

.entry-content {
	display: grid;
	justify-items: center;
}

.entry-content > * {
	width: 100%;
	max-width: $container;
	padding: 0 $grid-margin;
	margin-left: 0;
	margin-right: 0;
}

.entry-content > *.alignwide, .wp-block[data-align="wide"] {
	max-width: $container-wide;
}

.entry-content > *.alignfull, .wp-block[data-align="full"] {
	width: 100%;
	max-width: 100%;
	padding: 0;
}
