@use '../abstracts/_variables' as *;
@use '../abstracts/_mixins' as *;

/* -------------------------------------------------
    Paragraph
------------------------------------------------- */
p.has-background {
    padding: 4rem;
}

.has-drop-cap:not(:focus):first-letter {
    font-size: 4em;
    font-weight: 700;
}

/* -------------------------------------------------
    Image
------------------------------------------------- */
.wp-block-image {
    margin-bottom: $grid-gutter;
}

.wp-block-image.alignwide img,
.wp-block-image.alignfull img {
    width: 100%;
}

.wp-block-image figcaption {
	margin-bottom: 0;
	margin-top: 1.2rem;
}

.alignfull .wp-block-image img {
    width: 100%;
    max-width: none;
}

/* -------------------------------------------------
    Heading
------------------------------------------------- */
h1,
h2,
h3,
h4,
h5,
h6 {
    margin: $grid-gutter 0 calc(#{$grid-gutter} / 2);

}

h1.has-background,
h2.has-background,
h3.has-background,
h4.has-background,
h5.has-background,
h6.has-background {
    padding: 4rem;
}

/* -------------------------------------------------
    Gallery
------------------------------------------------- */
.wp-block-gallery {
    width: 100%;
    margin: $grid-gutter auto;
}

.blocks-gallery-grid {
    width: 100%;
}

.wp-block-gallery + .wp-block-gallery {
    margin-top: -$grid-gutter;
}
/* -------------------------------------------------
    List
------------------------------------------------- */

/* -------------------------------------------------
    Quote
------------------------------------------------- */

/* -------------------------------------------------
    Audio
------------------------------------------------- */

/* -------------------------------------------------
    Cover
------------------------------------------------- */

/* -------------------------------------------------
    Group
------------------------------------------------- */
.wp-block-group {
    margin-bottom: $grid-gutter;
}

.wp-block-group.alignfull + .wp-block-group.alignfull {
    margin-top: -$grid-gutter;
}

.wp-block-group.has-background {
    padding: $grid-gutter;
}

/* -------------------------------------------------
    Seperator
------------------------------------------------- */
hr.wp-block-separator {
    max-width: 160px;
    margin: 6rem auto;

    &.is-style-wide, &.is-style-dots  {
        max-width: calc(#{$container} - (#{$grid-margin} * 2));
    }

}
