@use '../abstracts/_variables' as *;
@use '../abstracts/_mixins' as *;

/* ---------------------------------------------------------------------------------------------------
    Paragraph
--------------------------------------------------------------------------------------------------- */
p.has-background {
    padding: 4rem;
}

/* ---------------------------------------------------------------------------------------------------
    Image
--------------------------------------------------------------------------------------------------- */
.wp-block-image {
}

/* ---------------------------------------------------------------------------------------------------
    Heading
--------------------------------------------------------------------------------------------------- */
h1.has-background,
h2.has-background,
h3.has-background,
h4.has-background,
h5.has-background,
h6.has-background {
    padding: 4rem;
}

/* ---------------------------------------------------------------------------------------------------
    Gallery
--------------------------------------------------------------------------------------------------- */
.wp-block-gallery {
}

/* ---------------------------------------------------------------------------------------------------
    List
--------------------------------------------------------------------------------------------------- */
