@use '../abstracts/_variables' as *;
@use '../abstracts/_mixins' as *;

.custom-block-image-column {
    display: grid;
    grid-template-columns: 1fr $grid-margin minmax(auto, calc(#{$container-wide} / 2 - #{$grid-margin})) minmax(auto, calc(#{$container-wide} / 2 - #{$grid-margin})) $grid-margin 1fr;
    grid-template-rows: auto auto;

    &.image-align-left {
        .custom-block-image-column-text {
            grid-column: 3/5;
            grid-row: 2/3;

            @include mq(md) {
                grid-column: 4/5;
                grid-row: 1/3;
                padding: 4rem 0 4rem $grid-gutter;
            }
        }
        .custom-block-image-column-img {
            grid-column: 1/7;
            grid-row: 1/2;

            @include mq(md) {
                grid-column: 1/4;
                grid-row: 1/3;
            }
        }
    }
    &.image-align-right {
        .custom-block-image-column-text {
            grid-column: 3/5;
            grid-row: 1/2;

            @include mq(md) {
                grid-column: 3/4;
                grid-row: 1/3;
                padding: 4rem $grid-gutter 4rem 0;
            }
        }
        .custom-block-image-column-img {
            grid-column: 1/7;
            grid-row: 2/3;

            @include mq(md) {
                grid-column: 4/7;
                grid-row: 1/3;
            }
        }
    }

    &-text {
        align-self: center;
        padding: $space-lg 0;
    }

    &-img {
        background-position: center;
        background-size: cover;
        min-height: 300px;
    }
}
