@use '../abstracts/_variables' as *;

/* -------------------------------------------------
    Media queries
------------------------------------------------- */
@mixin mq($breakpoint) {

    @if map-has-key($breakpoints, $breakpoint) {
        $breakpoint-value: map-get($breakpoints, $breakpoint);

        @media only screen and (min-width: $breakpoint-value) {
            @content;
        }
    }

    @else {
        @warn 'Invalid breakpoint: #{$breakpoint}.';
    }
}

/* -------------------------------------------------
    Font size and line-height from map
------------------------------------------------- */
@mixin font-size($fs-map, $fs-breakpoints: $breakpoints) {
    @each $fs-breakpoint, $fs-font-size in $fs-map {
        @if $fs-breakpoint==null {
            @include make-font-size($fs-font-size);
        }

        @else {
            @if map-has-key($fs-breakpoints, $fs-breakpoint) {
                $fs-breakpoint: map-get($fs-breakpoints, $fs-breakpoint);
            }

            @media screen and (min-width: $fs-breakpoint) {
                @include make-font-size($fs-font-size);
            }
        }
    }
}

/* -------------------------------------------------
    Utility function for mixin font-size
------------------------------------------------- */
@mixin make-font-size($fs-font-size) {

    @if type-of($fs-font-size)=="list" {
        font-size: nth($fs-font-size, 1);

        @if (length($fs-font-size) > 1) {
            line-height: nth($fs-font-size, 2);
        }
    }

    @else {
        font-size: $fs-font-size;
    }
}
