/* -------------------------------------------------
    Typography
------------------------------------------------- */
$body-font: "Open sans", sans-serif;
$headings-font: "Archivo", sans-serif;

$base-font-size: 18px;
$small-font-size: 14px;

$h1-font-sizes: (
    null: 24px,
    sm: 28px,
    md: 32px,
);
$h2-font-sizes: (
    null: 21px,
    sm: 24px,
    md: 28px,
);
$h3-font-sizes: (
    null: 20px,
    sm: 21px,
    md: 24px,
);
$h4-font-sizes: (
    null: 19px,
    sm: 20,
    md: 21px,
);
$h5-font-sizes: (
    null: 19px,
);
$h6-font-sizes: (
    null: 16px,
);

/* -------------------------------------------------
    Colors
------------------------------------------------- */
$primary-color: #3858e9;
$secondary-color: #1f313d;
$accent-color: #ff7b00;
$dark-color: #2c3338;
$light-color: #ffffff;

$body-bg-color: #f0f0f1;
$body-text-color: $dark-color;
$body-text-color-secondary: #bcbcbc;
$border-color: $dark-color;
$success-color: #6cbd7f;
$warning-color: #ffc107;
$error-color: #dc3545;

$theme-colors: (primary, $primary-color), (secondary, $secondary-color), (accent, $accent-color), (dark, $dark-color), (light, $light-color);

/* -------------------------------------------------
    Layout
------------------------------------------------- */
$breakpoints: (
    xs: 576px,
    sm: 680px,
    md: 960px,
    lg: 1680px,
    xl: 1920px,
);

$container: map-get($breakpoints, "sm");
$container-wide: map-get($breakpoints, "md");
$container-lg: map-get($breakpoints, "lg");

$grid-gutter: 36px;
$grid-margin: $grid-gutter * 0.5;

$space-unit: 16px;

$space-xs: $space-unit * 0.25;
$space-sm: $space-unit * 0.75;
$space-md: $space-unit * 1.25;
$space-lg: $space-unit * 2;
$space-xl: $space-unit * 3.25;
$space-xxl: $space-unit * 5.25;

/* -------------------------------------------------
    Navigation
------------------------------------------------- */
$navbar-expand: md;
