// Typography
$font-primary: sans-serif;
$font-secondary: serif;
$font-mono: SFMono-Regular, monospace;

$font-size-base: 1.6rem;
$font-size-sm: 1.4rem;
$font-sizes-display: (null: 3.2rem, sm: 4.2, md: 6.2rem);
$font-sizes-h1: (null: 2.9rem, sm: 3.9rem, md: 4.9rem);
$font-sizes-h2: (null: 2.5rem, sm: 3.2rem, md: 3.9rem);
$font-sizes-h3: (null: 2.2rem, sm: 2.6rem, md: 3.1rem);
$font-sizes-h4: (null: 1.8rem, sm: 2.2rem, md: 2.5rem);

$line-height-base: 1.5;
$line-height-heading: 1.25;

// Colors
$color-primary: #a81010;
$color-secondary: #790b0b;
$color-tertiary: red;
$color-quaternary:#f0b434;
$color-light: #fffbff;
$color-dark: #252525;

$color-success: #6cbd7f;
$color-warning: #ffc107;
$color-danger: #dc3545;

$body-bg: $color-light;
$body-color: $color-dark;
$body-color-secondary: #a1a1a1;
$link-color: $color-primary;
$link-hover-color: $color-secondary;
$selection-color: $color-light;
$selection-bg: #3297FD;

$theme-colors: (primary, $color-primary), (secondary, $color-secondary), (tertiary, $color-tertiary), (quaternary, $color-quaternary), (light, $color-light), (dark, $color-dark);

// Breakpoints
$breakpoints: (xs: 576px, sm: 680px, md: 960px, lg: 1680px, xl: 1920px);

// Sizing
$space-unit: 2rem;

$space-xs: $space-unit * .25;
$space-sm: $space-unit * .75;
$space-md: $space-unit * 1.25;
$space-lg: $space-unit * 2;
$space-xl: $space-unit * 3.25;
$space-xxl: $space-unit * 5.25;

// Grid
$container: map-get($breakpoints, "sm");
$container-wide: map-get($breakpoints, "md");
$container-lg: map-get($breakpoints, "lg");
$grid-gutter: $space-lg;
$grid-margin: $grid-gutter / 2;

// Navigation
$navbar-expand: md;
