@use 'abstracts' as *;
@use 'base';
@use 'blocks';
@use 'parts/_entry-header';

.wp-block {
    max-width: calc(#{$container} - (#{$grid-margin} 2) );
}

.edit-post-visual-editor__post-title-wrapper {
    padding: $space-xxl 0;
    margin-bottom: $space-md;
    color: $light-color;
    background-color: $primary-color;
}

.editor-post-title__input {
    @include font-size($h1-font-sizes);
}
