@use '../abstracts/_variables'as *;
@use '../abstracts/_mixins'as *;

.page-404 {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 80vh;
    color: $body-text-color-secondary;
    text-align: center;
}
