@use '../abstracts/_variables'as *;
@use '../abstracts/_mixins'as *;

.hero {
    background-color: $primary-color;
    background-position: center;
    background-size: cover;
    color: $light-color;
    margin-bottom: $space-lg;

    &-inner {
        display: grid;
        height: 50vh;
        padding: $space-xl;
        text-align: center;
    }
    &-title {
        color: inherit;
    }
}
