.site-header {
    position: fixed;
    top: 0;
    width: 100%;
    height: $header-height;
    background-color: $tertiary;
    color: $light;
    z-index: 999;

    a, li, button {
        pointer-events: all;
        color: inherit;
    }

}
