.site__header {
    position: fixed;
    top: 0;
    width: 100%;
    background-color: $header-bg;
    color: $header-color;
    transition: height .4s ease;
    z-index: 999;
    
    a, li, button {
        pointer-events: all;
        color: inherit;
    }
}
