.site-footer {
    padding: $spacer-4 0 $spacer-2;
    color: $light;
    background-color: $primary;

    a {
        color: $light;

        &:hover {
            color: $secondary;
        }
    }
}

.copyright {
    padding: $spacer-4 0 0;
    font-size: $font-size-sm;
}
