.site__footer {
    padding: $spacer-4 0 $spacer-2;
    margin-top: $spacer-4;
    color: $footer-color;
    background-color: $footer-bg;

    a {
        color: $light;

        &:hover {
            color: $secondary;
        }
    }
}

.copyright {
    padding: $spacer-4 0 0;
    font-size: $font-size-sm;
}
