.navbar-brand {
    padding: 1rem 0;
}

img.navbar-brand {
    width: auto;
    max-width: $brand-width;
    white-space: nowrap;

    @include respond-above(sm) {
        max-width: $brand-width-desktop;
    }
}
