.btn,
a.btn {
    width: fit-content;
    border: none;
    padding: $spacer-half $spacer;
    transition: color .25s ease, background-color .25s ease;
}

.btn-primary {
    background-color: $primary;
    color: $light;

    &:hover {
        color: $light;
        background-color: $primary-dark;
    }

    &:active {
        background-color: $primary-light;
    }
}

.btn-secondary {
    background-color: $secondary;
    color: $light;

    &:hover {
        color: $light;
        background-color: $secondary-dark;
    }

    &:active {
        background-color: $secondary-light;
    }
}

.btn-outline {
    border: 2px solid !important;
    color: $primary;
    background-color: transparent;

    &:hover {
        color: $primary-light;
        background-color: inherit;
    }

    &:active {
        color: $primary-dark;
    }
}

input[type="submit"] {
    @extend .btn;
    @extend .btn-primary
}
