.navbar-nav {
    display: none;
    flex-basis: 100%;
    flex-grow: 1;
    flex-direction: column;
    padding: $spacer 0;
    margin-bottom: 0;
    background: $nav-bg;
    overflow-y: scroll;

    &.is-open {
        display: block;
        height: 92vh;
        padding-bottom: $spacer-4;
        @include respond-above($navbar-expand) {
            height: auto;
        }
    }

    @include respond-above($navbar-expand) {
        display: flex;
        flex-flow: row wrap;
        flex-basis: auto;
        flex-grow: 0;
        padding: 0;
        background-color: transparent;
        overflow-y: unset;
    }

    // Navigation Item
    .nav-item {
        position: relative;
        display: flex;
        flex-wrap: wrap;

        @include respond-above($navbar-expand) {
            display: block;
            margin-left: $nav-item-spacing;
        }

        // Navigation item with dropdown menu
        &.dropdown {
            @include respond-above($navbar-expand) {
                > .nav-link::after {
                    content: ' ▾';
                }
                .dropdown {
                    > .nav-link::after {
                        content: ' ▸';
                    }
                }
            }
        }

        // Epand dropdown on mobile button
        .dropdown-btn {
            padding: $spacer-half $spacer-2;
            width: $hamburger-layer-width;
            border: none;
            background: transparent;

            &.toggled i.dropdown-icon {
                transform: rotate(-135deg);
            }

            i.dropdown-icon {
                border: solid $nav-link-color;
                border-width: 0 $hamburger-layer-height $hamburger-layer-height 0;
                border-radius: 2px;
                padding: $hamburger-layer-height;
                display: inline-block;
                transform: rotate(45deg);
                transition: transform .25s ease;
            }

            @include respond-above($navbar-expand) {
                display: none;
                visibility: hidden;
            }
        }

        // Navigation dropdown menu 
        .dropdown-menu {
            display: none;
            flex-basis: 100%;
            padding-left: 0;
            margin-bottom: 0;
            background: $nav-dropdown-bg;

            @include respond-above($navbar-expand) {
                position: absolute;
                background-color: $nav-dropdown-bg-desktop;
                margin-top: 0;

                // Child dropdown menu
                .dropdown-menu {
                    left: 100%;
                    top: 0;
                    position: absolute;
                }
            }

            // Item in dropdown menu
            .dropdown-item {
                position: relative;
                display: flex;
                flex-wrap: wrap;
                padding-left: $spacer;

                @include respond-above($navbar-expand) {
                    display: block;
                    width: 200px;
                    padding-left: 0;
                }
            }
        }

        // Navigation item with dropdown
        &.dropdown:hover>.dropdown-menu,
        .dropdown-menu .dropdown-item:hover>.dropdown-menu {
            @include respond-above($navbar-expand) {
                display: block;
            }
        }

        &.active > a.nav-link, .dropdown-item.active > a.nav-link {
            color: $nav-link-active-color;
        }

        // Navigation Link
        .nav-link {
            display: block;
            flex: 1;
            width: 100%;
            padding: $nav-link-padding;
            color: $nav-link-color;

            &:hover {
                color: $nav-link-hover-color;
            }
        }
    }
}
