@use '../abstracts/variables'as *;
@use '../abstracts/mixins'as *;

.site-footer {
    margin-top: $space-xl;
    padding: $space-xl 0 $space-lg;
    background-color: $color-dark;
    color: $color-light;

    a {
        color: $color-light;

        &:hover {
            color: $color-primary;
        }
    }

    h2, h3, h4, h5, h6 {
        @include font-size($font-sizes-h3);
    }

    ul {
        list-style: none;
        padding-left: 0;
    }
}

.footer-widget {
    margin-bottom: $space-md;
}

.copyright {
    padding: $space-lg 0 0;
    font-size: $font-size-sm;
    color: $body-color-secondary;
    text-align: center;
}
