@use '../abstracts/variables'as *;
@use '../abstracts/mixins'as *;

.site-header {
    top: 0;
    width: 100%;
    background-color: $color-light;
    color: $color-dark;
    z-index: 999;

    a,
    button {
        color: $color-dark;
        text-decoration: none;
        pointer-events: all;
        cursor: pointer;

        &:hover {
            color: $link-hover-color;
        }
    }

    &.is-fixed {
        position: fixed;
    }

    &.is-scrolled {}

    &__inner {
        position: relative;
        display: flex;
        align-items: center;
    }
}
