@use '../abstracts/variables'as *;
@use '../abstracts/mixins'as *;

.site-header {
    top: 0;
    width: 100%;
    background-color: $color-light;
    color: $color-dark;
    z-index: 888;

    // Links
    a,
    button {
        color: $color-dark;
        text-decoration: none;
        pointer-events: all;
        cursor: pointer;

        &:hover {
            color: $link-hover-color;
        }
    }

    // States
    &.is-fixed {
        position: fixed;
    }

    &.is-scrolled {
    }

    &-inner {
        position: relative;
        display: flex;
        align-items: center;
    }

}

.skip-to-content-link {
    background: $color-primary;
    left: 50%;
    top: 0;
    padding: 12px;
    position: absolute;
    transform: translateY(-100%);
    transition: transform 0.3s;
    color: $color-light !important;
    z-index: 999;
  }
  
  .skip-to-content-link:focus {
    transform: translateY(0%);
  }
