@use '../abstracts/variables'as *;

.site-main {

    a:not(.btn):not(.wp-block-button__link) {
        color: $link-color;
        text-decoration-skip-ink: auto;

        &:hover {
            color: $link-hover-color;
        }
    }
}
