.four-zero-four {
    display: inline-block;
}

.text-biggest {
    font-size: 18vw;
}



.right-25 {
    padding-left: 0;

    @include respond-above(md) {
        margin-left: 75%;
        padding-left: 1rem;
    }
}

.right-50 {
    padding-left: 0;

    @include respond-above(md) {
        margin-left: 50%;
        padding-left: 1rem;

    }
}

.right-75 {
    padding-left: 0;

    @include respond-above(md) {
        margin-left: 25%;
        padding-left: 1rem;
    }
}

.left-25 {
    padding-right: 0;
    @include respond-above(md) {
        margin-right: 75%;
        padding-right: 1rem;
    }
}

.left-50 {
    padding-right: 0;

    @include respond-above(md) {
        margin-right: 50%;
        padding-right: 1rem;
    }
}

.left-75 {
    padding-right: 0;

    @include respond-above(md) {
        margin-right: 25%;
        padding-right: 1rem;
    }
}

.stuck {
    position: fixed;
    overflow-y: scroll;
}


.site-content {
    -webkit-transition: -webkit-transform .28s, opacity .28s;
    -ms-transition: -o-transform .28s, opacity .28s;
    -o-transition: -o-transform .28s, opacity .28s;
    transition: transform .28s, opacity .28s;
}
.slide-out .site-content {
    -webkit-transform: translate3d( 0, 100px, 0 );
    -ms-transform: translate3d( 0, 100px, 0 );
    -o-transform: translate3d( 0, 100px, 0 );
    transform: translate3d( 0, 100px, 0 );
    opacity: 0;
}