// Styles for the block editor.
@import 'base/variables';

.editor-post-title__block .editor-post-title__input{
	font-family: $headings-font-family;
}

.wp-block {
    max-width: $container-width;
}

.wp-block[data-align="wide"] {
    max-width: $container-wide-width;
}

.block-editor__typewriter {
    font-family: $font-family-base;
}
