.navbar {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: flex-end;
    height: inherit;
    font-family: $navbar-font-family;
    font-size: $navbar-font-size;
    font-weight: $navbar-font-weight;
    list-style: none;
}
