.navbar__brand {
    display: block;
    padding: $spacer-half;
    padding-left: 0;
    margin: 0 auto 0 0;
    font-size: $font-size-lg;
    font-weight: 700;
    line-height: 1;

    img.custom-logo {
        max-width: 80px ;
        transition: width .4s ease;
        
        @include respond-above(md) {
            max-width:130px;
        }
    }
}
