.page-header{
    padding: 10rem 0 $spacer-2;
    background-color: $primary;
    margin-bottom: $spacer;

    // Title
    &__title {
       color: white;
    }

    // Post meta tags
    .post-meta,
    .post-meta a {
        font-size: $font-size-sm;
        color: $body-color-secondary;
        margin-bottom: 1rem;
    }
}
