@use '../abstracts/_variables' as *;
@use '../abstracts/_mixins' as *;

/* -------------------------------------------------
    Skip to content link
------------------------------------------------- */
.skip-to-content-link {
    position: absolute;
    top: 0;
    left: 50%;
    padding: 12px;
    color: $light-color !important;
    background: $primary-color;
    transform: translateY(-100%);
    transition: transform 0.3s;
    z-index: 999;
}

.skip-to-content-link:focus {
    transform: translateY(0%);
}

/* -------------------------------------------------
    Screenreader
------------------------------------------------- */
.screen-reader-text {
    position: absolute !important;
    width: 1px;
    height: 1px;
    border: 0;
    padding: 0;
    margin: -1px;
    overflow: hidden;
    word-wrap: normal !important;
    word-break: normal;
    clip: rect(1px, 1px, 1px, 1px);
    -webkit-clip-path: inset(50%);
    clip-path: inset(50%);
}

/* -------------------------------------------------
    Reduce motion
------------------------------------------------- */
@media (prefers-reduced-motion: reduce) {
    * {
        animation-duration: 0s !important;
        animation-delay: 0s !important;
        transition-delay: 0s !important;
        transition-duration: 0s !important;
        animation-iteration-count: 1 !important;
        scroll-behavior: auto !important;
    }
}
