@use '../abstracts/_variables' as *;
@use '../abstracts/_mixins' as *;

fieldset {
    border: 0.2rem solid $border-color;
    margin-bottom: 3rem;
    margin-top: 3rem;
    padding: calc(#{$grid-gutter} / 2);
}

form {
    margin-bottom: 3rem;
    margin-top: 3rem;
}

legend {
    font-size: $small-font-size;
    font-weight: 700;
    padding: 0 1rem;
}

label {
    display: block;
    font-size: 1.5rem;
    margin: 0 0 0.5rem 0;
}

label.inline,
input[type="checkbox"] + label {
    display: inline;
    font-weight: 400;
    margin-left: 0.5rem;
}

input,
textarea,
button {
    font-family: inherit;
    line-height: 1;
}

input,
textarea,
select {
    background-color: $body-bg-color;
    border-color: $border-color;
}

input[type="text"],
input[type="password"],
input[type="email"],
input[type="url"],
input[type="date"],
input[type="month"],
input[type="time"],
input[type="datetime"],
input[type="datetime-local"],
input[type="week"],
input[type="number"],
input[type="search"],
input[type="tel"],
input[type="color"],
textarea {
    -webkit-appearance: none;
    -moz-appearance: none;
    border-radius: 0;
    border-style: solid;
    border-width: 0.1rem;
    box-shadow: none;
    color: $body-text-color;
    display: block;
    font-size: 1.6rem;
    line-height: normal;
    margin: 0;
    max-width: 100%;
    padding: 1.5rem 1.8rem;
    width: 100%;
}

textarea {
    display: block;
    height: 80px;
    min-height: 80px;
    max-height: 180px;
    line-height: 20px;
}

select {
    width: 100%;
    font-family: inherit;
    font-size: inherit;
    padding: 1.5rem 1.8rem;
}

::-webkit-input-placeholder {
    color: $body-text-color-secondary;
    line-height: normal;
}
::-moz-placeholder {
    color: $body-text-color-secondary;
    line-height: normal;
}
:-ms-input-placeholder {
    color: $body-text-color-secondary;
    line-height: normal;
}
:-moz-placeholder {
    color: $body-text-color-secondary;
    opacity: 1;
    line-height: normal;
}
::placeholder {
    color: $body-text-color-secondary;
    line-height: normal;
    opacity: 1;
}

input[type="search"]::-webkit-search-decoration,
input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-results-button,
input[type="search"]::-webkit-search-results-decoration {
    display: none;
}

// CF7 Responses

.wpcf7 form .wpcf7-response-output {
    border: none;
    padding: 2em;
    margin: 2em 0;
    font-weight: 700;
    text-align: center;
}

.wpcf7-form.invalid .wpcf7-response-output {
    color: $dark-color;
    background-color: $warning-color;
}

.wpcf7-form.failed .wpcf7-response-output {
    color: $light-color;
    background-color: $error-color;
}

.wpcf7-form.sent .wpcf7-response-output {
    color: $light-color;
    background-color: $success-color;
}
