@use '../abstracts/variables'as *;
@use '../abstracts/mixins'as *;

/* Box sizing rules */
*, *::before, *::after {
    box-sizing: border-box;
}

html {
    font-size: 10px;
    -webkit-text-size-adjust: 100%;
    -webkit-tap-highlight-color: rgba($dark, 0);
    -webkit-font-smoothing: auto;
}

/* Set core body defaults */
body {
    width: 100%;
    min-height: 100vh;
    overflow-x: hidden;
    overflow-y: scroll;
    text-rendering: optimizeSpeed;
}

body, h1, h2, h3, h4, p, li, figure, figcaption, blockquote, dl, dd {
    margin: 0;
}

ul[class], ol[class] {
    padding: 0;
    list-style: none;
}

img {
    max-width: 100%;
    display: block;
    height: auto;
}

@media (prefers-reduced-motion: reduce) {
    * {
        animation-duration: 0.01ms !important;
        animation-iteration-count: 1 !important;
        transition-duration: 0.01ms !important;
        scroll-behavior: auto !important;
    }
}
