@use '../abstracts/variables'as *;
@use '../abstracts/mixins'as *;

body {
    font-size: $font-size-base;
    font-family: $font-primary;
    color: $body-color;
    background-color: $body-bg;
}

h1, h2, h3, h4, h5, h6 {
    margin-bottom: $spacer-half;
    font-family: $font-secondary;
    line-height: $line-height-heading;
}

h1, .h1 {
    @include fluid-type(h1, sm, md);
}

h2, .h2 {
    @include fluid-type(h2, sm, md);
}

h3, .h3 {
    @include fluid-type(h3, sm, md);
}

h4, .h4 {
    @include fluid-type(h4, sm, md);
}

h5, .h5 {
    @include fluid-type(h5, sm, md);
}

h6, .h6 {
    font-size: map-get($font-sizes-min, "h6");
}

p {
    line-height: $line-height-base;
    margin-bottom: $spacer;
}

a:not([class]) {
    color: $link-color;
    text-decoration-skip-ink: auto;

    &:hover {
        color: $link-hover-color;
    }
}

b, strong, .bold {
    font-weight: bold;
}

small, .small {
    font-size: $font-size-sm;
}

pre, code, kbd, samp {
    font-family: $font-mono;
}

::selection {
    color: $selection-color;
    background: $selection-bg;
}

/* -------------------------------- 

Utility classes

-------------------------------- */
.screen-reader-text {
    border: 0;
    clip: rect(1px, 1px, 1px, 1px);
    -webkit-clip-path: inset(50%);
    clip-path: inset(50%);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute !important;
    width: 1px;
    word-wrap: normal !important;
    word-break: normal;
}

.truncate {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}
