@font-face {
  font-family: "Raleway";
  font-weight: 100 900;
  font-style: normal;
  font-display: auto;
  src: url(../fonts/Raleway.ttf) format('woff2 supports variations'),
    url(../fonts/Raleway.ttf) format('woff2');
}

@font-face {
  font-family: "Raleway";
  font-weight: 100 900;
  font-style: italic;
  font-display: auto;
  src: url(../fonts/Raleway-Italic.ttf) format('woff2 supports variations'),
    url(../fonts/Raleway-Italic.ttf) format('woff2');
}

// Colors
$primary: #8c00e9 !default;
$primary-variant: #6f00b9 !default;
$secondary: #e9b045 !default;
$secondary-variant: #c59438 !default;
$accent: #e945aa !default;
$accent-variant: #bd388a !default;

$success: #28a745 !default;
$warning: #ffc107 !default;
$danger: #dc3545 !default;

$light: #fffbff !default;
$dark: #212121 !default;
$grey: #929292 !default;

$body-bg: $light !default;
$body-color: $dark !default;
$body-color-secondary: $grey !default;

$selection-bg: $secondary !default;
$selection-color: $light !default;

$link-color: $primary !default;
$link-hover-color: $primary-variant !default;

$theme-colors: (primary, $primary),
(secondary, $secondary),
(accent, $accent),
(light, $light),
(dark, $dark),
(grey, $grey);

@each $name,
$color in $theme-colors {

  .has-#{$name}-color {
    color: $color;
  }

  .has-#{$name}-background-color {
    background-color: $color;
  }
}

// Fonts
$font-family-base: 'Raleway',
sans-serif !default;
$font-family-heading: 'Raleway',
sans-serif !default;
$font-family-monospace: SFMono-Regular,
monospace !default;

$font-size-base: 1.6rem !default;
$font-size-lg: $font-size-base * 1.25 !default;
$font-size-sm: $font-size-base * .875 !default;

$font-weight-light: 300 !default;
$font-weight-normal: 400 !default;
$font-weight-bold: 700 !default;

$h1-font-size: $font-size-base * 2.5 !default;
$h2-font-size: $font-size-base * 2 !default;
$h3-font-size: $font-size-base * 1.75 !default;
$h4-font-size: $font-size-base * 1.5 !default;
$h5-font-size: $font-size-base * 1.25 !default;
$h6-font-size: $font-size-base !default;

// Breakpoints
$breakpoints: (xs: 576px,
  sm: 680px,
  md: 1080px,
  lg: 1680px,
  xl: 1920px) !default;

$navbar-expand: md !default;

// Containers
$container-width: map-get($breakpoints, "sm") !default;
$container-wide-width: map-get($breakpoints, "md") !default;
$container-large-width: map-get($breakpoints, "lg") !default;

// Spacing 
$spacer: 2rem !default;
$spacer-half: $spacer * .5 !default;
$spacer-2: $spacer * 2 !default;
$spacer-4: $spacer * 4 !default;

// Grid
$grid-gutter-width: $spacer-2 !default;
$grid-outer-margin: $spacer !default;
$grid-gutter-compensation: $grid-outer-margin / 2 !default;
$grid-gutter-halfWidth: $grid-gutter-width / 2 !default;

// Navigation
$nav-link-color: $dark;

// Hamburger icon
$hamburger-layer-width: 25px;
$hamburger-layer-height : 3px;
$hamburger-layer-color: $nav-link-color;
$hamburger-layer-border-radius : 0px;
$hamburger-types: (squeeze);
